@page "/"
@inject IJSRuntime js

<h1>Hello, @message!</h1>

Welcome to your new app.

<Component1></Component1>

<button @onclick="ShowPrompt">Show Prompt</button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    string message = "world";

    async Task ShowPrompt()
    {
        message = await ExampleJsInterop.Prompt(js, "Say hello:");
    }
}